<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gx303.framedemo" >

    <application
        android:name="com.gx303.framedemo.ApplicationDemo"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.gx303.framedemo.listviewdemo.LvActivity"></activity>
        <activity android:name="com.gx303.framedemo.pulllistview.PullRefreshActivity"></activity>
        <activity android:name=".pulllistview.LoadMoreActivity"></activity>
        <activity android:name=".testFragmentActivity"></activity>
        <activity android:name=".image.ImageActivity"></activity>
        <activity android:name=".dialog.DialogDemo"></activity>
        <activity android:name=".recyelcviewdemo.testRecycleView"></activity>
        <activity android:name=".orm.ormtest"></activity>
        <activity android:name=".cardview.cardviewtest"></activity>
        <activity android:name=".view.viewtest"></activity>
        <activity android:name=".cardview.recycler_fresh"></activity>
        <activity android:name=".viewpager.viewpagertest"></activity>
    </application>

</manifest>
